@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ApercuProMono';
  src: url('/fonts/ApercuProMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'ApercuProMono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #000000;
  color: #ffffff;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}